## .NET ##
bin/
obj/
publish/
*.user
*.csproj.user

## VS & IDE ##
.vs/
.elasticbeanstalk/
*.http

## Configs ##
appsettings.Development.json
aws-beanstalk-tools-defaults.json
Properties/launchSettings.json

## Database ##
Migrations/
*.db
*.sqlite3

## Frontend ##
frontend/*
!frontend/css/
frontend/css/*
!frontend/css/styles.css