## .NET ##
bin/
obj/
publish/
*.user
*.csproj.user

## VS & IDE ##
.vs/
.elasticbeanstalk/
*.http

## Configs ##
appsettings.Development.json
aws-beanstalk-tools-defaults.json
Properties/launchSettings.json

## Database ##
Migrations/
*.db
*.sqlite3

## REMOVE frontend ignores ##
# (delete the entire frontend/* section below this line)
