## .NET ##
bin/
obj/
publish/
*.user
*.csproj.user

## VS & IDE ##
.vs/
.elasticbeanstalk/
*.http

## Configs ##
appsettings.Development.json
aws-beanstalk-tools-defaults.json
Properties/launchSettings.json

## Frontend ##
frontend/**

## Database ##
Migrations/
*.db
*.sqlite3